<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Django start</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'post_create' %}">Create
                            Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">
                            Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'login' %}">
                            Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'registration' %}">
                            Registration</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Account</a></li>

                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if request.path == '/' %}
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" name="q" value="{{ request.GET.q }}" type="search"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>