{% load i18n %}
{% get_current_language as lang %}
{% get_available_languages as LANGUAGES %}
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Django start</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'post_create' %}">
                            {% trans 'Create Post' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">
                            {% trans 'Log out' %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'login' %}">
                            {% trans 'Login' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'registration' %}">
                            {% trans 'Registration' %}
                        </a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="">
                                    {% trans 'Account' %}
                                </a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ lang|upper }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for lan in LANGUAGES %}
                            {% if lan.0 != lang %}
                                <li class="">
                                    <a class="dropdown-item" href="/{{ lan.0 }}/{{ request.path|slice:"4:" }}">
                                        {{ lan.1 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="my_active">
                                    <a class="dropdown-item text-white" href="/{{ lan.0 }}/{{ request.path|slice:"4:" }}">
                                        {{ lan.1 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% if request.path|slice:'1:3' == lang and request.user.is_authenticated %}
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" name="q" value="{{ request.GET.q }}" type="search"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">{% trans 'Search' %}</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>